In [13]:
import pandas as pd
import numpy as np

# Your list of 10 values
values = [np.array([2, 3, 4, 5, 6, 7, 8, 9, 10]), np.array([2, 3, 4, 5, 6, 7, 8, 9, 10])]
name_list = ["name1", "name2"]
def build_csv(name_list, value_list,min,max,metric_type):
    columns = ['{} clusters'.format(i) for i in range(min,max+1)]
    df = pd.DataFrame(columns=columns)
    for i in range(len(value_list)):
        new_row_df = pd.DataFrame([value_list[i]], columns=df.columns,index=[name_list[i]])
        df = pd.concat([df,new_row_df])
    #df.to_csv(f'ruleset_metrics_{metric_type}.csv', index=True)
    return df

build_csv(name_list,values,2,10,"ari")

,2 clusters,3 clusters,4 clusters,5 clusters,6 clusters,7 clusters,8 clusters,9 clusters,10 clusters
name1,2,3,4,5,6,7,8,9,10
name2,2,3,4,5,6,7,8,9,10